@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background: #222;
    color: #222;
    overflow: hidden;
}

.loader-wrapper {
    position: fixed; 
    width: 100%;
    height: 100%;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    overflow: hidden; 
}



.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    --color: hsl(180, 5%, 81%);
    --animation: 2s ease-in-out;
}

.loader .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20px;
    height: 20px;
    border: solid 2px var(--color);
    border-radius: 50%;
    margin: 0 10px;
    background-color: transparent;
    animation: circle-keys var(--animation);
}

.loader .circle .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color);
    animation: dot-keys var(--animation);
}

.loader .circle .outline {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: outline-keys var(--animation);
}

/* Verzögerungen für den Effekt */
.circle:nth-child(2) { animation-delay: 0.3s; }
.circle:nth-child(3) { animation-delay: 0.6s; }
.circle:nth-child(4) { animation-delay: 0.9s; }

.circle:nth-child(2) .dot { animation-delay: 0.3s; }
.circle:nth-child(3) .dot { animation-delay: 0.6s; }
.circle:nth-child(4) .dot { animation-delay: 0.9s; }

.circle:nth-child(1) .outline { animation-delay: 0.9s; }
.circle:nth-child(2) .outline { animation-delay: 1.2s; }
.circle:nth-child(3) .outline { animation-delay: 1.5s; }
.circle:nth-child(4) .outline { animation-delay: 1.8s; }

@keyframes circle-keys {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.5); opacity: 0.5; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes dot-keys {
    0% { transform: scale(1); }
    50% { transform: scale(0); }
    100% { transform: scale(1); }
}

@keyframes outline-keys {
    0% { transform: scale(0); outline: solid 20px var(--color); opacity: 1; }
    100% { transform: scale(1); outline: solid 0 transparent; opacity: 0; }
}

/* Versteckte Hauptseite */
.content {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
